<header>
  <div class="background" [ngClass]="{'background-not-home': !(effectMenuIsActive$ | async)}"></div>

  <img src="../../../../assets/logo-junior-forever.png" alt="junior-forever" />

  <nav>
    <ul>
      <li>
        <a [ngClass]="{ 'menu-selected': optionSelected === optionMenu.home }"
          routerLink=""
          (click)="updateOptionSelected(optionMenu.home)">
          HOME
        </a>
      </li>

      <li>
        <a routerLink="article/new" (click)="optionSelected = optionMenu.course">Criar Artigo</a>
      </li>

      <!-- <li>
        <a [ngClass]="{'menu-selected': optionSelected === optionMenu.podcast}"
          routerLink=""
          (click)="optionSelected = optionMenu.podcast">
          PODCASTS
        </a>
      </li>
      <li>
        <a routerLink="user/login">ENTRAR</a>
      </li> -->
    </ul>
  </nav>
</header>
