<header>
  <div class="background" [ngClass]="{'background-not-home': !(effectMenuIsActive$ | async)}"></div>

  <img src="../../../../assets/logo-junior-forever.png" alt="junior-forever" />

  <nav>
    <ul>
      <li>
        <a [ngClass]="{ 'menu-selected': optionSelected === optionMenu.home }"
          routerLink=""
          (click)="updateOptionSelected(optionMenu.home)">
          Home
        </a>
      </li>

      <li *ngIf="hasUser$ | async">
        <a [ngClass]="{ 'menu-selected': optionSelected === optionMenu.articleNew}"
          routerLink="article/new"
          (click)="optionSelected = optionMenu.articleNew">Criar Artigo</a>
      </li>

      <!-- <li>
        <a [ngClass]="{'menu-selected': optionSelected === optionMenu.podcast}"
          routerLink=""
          (click)="optionSelected = optionMenu.podcast">
          PODCASTS
        </a>
      </li> -->
      <li  *ngIf="!(hasUser$ | async)">
        <a [ngClass]="{ 'menu-selected': optionSelected === optionMenu.signSigout}"
          routerLink="user/login"
          (click)="optionSelected = optionMenu.signSigout">Entrar</a>
      </li>

      <li (click)="logout()" *ngIf="hasUser$ | async">
        <a>Sair</a>
      </li>
    </ul>
  </nav>
</header>
