section {
  max-width: 1000px;
  overflow: auto;
  overflow-y: hidden;
  white-space:nowrap;
}

.list-courses {
  overflow: auto;
  overflow-y: hidden;
  display: flex;

}

.list-courses li {
  list-style: none;
  margin: 10px;
}
