<section class="container">
  <article>
    <h1>Seu código é importante para você?</h1>
    <!-- <p style="margin-bottom: 20px;">
      Fala pessoal, tudo bem? Não queria
      falar sobre, mas estou muito feliz com o tema deste artigo. Confesso que
      era algo distante, ouvia apenas falar, mas nunca cheguei a conhecê-lo de
      verdade. Sim, é isso mesmo, estou falando sobre o código limpo. Não sou
      expert no assunto nem mesmo um praticante ativo, mas estou tentando deixar
      o meu código o mais limpo possível. Acredite, não é uma tarefa
      extremamente difícil como também não é totalmente trivial. Como diria
      minha querida e amada vovó: “é meia pedra meio tijolo”. Ou seja, com um
      pequeno esforço qualquer programador conseguirá fazer o mínimo esperado de
      um código limpo. Tudo bem, mas que é um código limpo? Bem, antes de tudo,
      a limpeza é algo muito importante, seja em casa, nas ruas, em bairros,
      cidades e em qualquer lugar. Seja sincero, você prefere estar em um lugar
      sujo, desorganizado ou em um lugar limpo, bem arrumado e com as coisas no
      seu devido lugar? Estou certo de que você escolheu a segunda opção, do
      contrário... melhor nem comentar hahaha Com o código não é diferente. Ele
      precisa ser organizado, com tudo no seu devido lugar. É como um
      guarda-roupas impecável. Com roupas para ocasiões especiais separadas das
      roupas do dia a dia, além de estarem todas bem dobradas, claro. Gavetas
      para roupas íntimas etc. Você sabe muito bem o que é um guarda-roupas bem
      organizado. O seu código precisa ser assim. Gosto da definição em que o
      código limpo foi desenvolvido por alguém que se importa, alguém que deu o
      seu melhor, que fez com bastante carinho. Parou, pensou, apagou, escreveu,
      parou de novo, pensou, apagou e escreveu novamente até ver uma obra de
      arte. Bem acho que minhas palavras estão bem longe da realidade na qual
      estamos acostumados. Mas não significa que precisa ser sempre assim. Não
      pense que porque você trabalha em um sistema que está uma bagunça que você
      precisa contribuir com isso. Não! Não e Não! Você precisa fazer sua parte,
      afinal, precisamos construir legados. Espera, não estou falando de
      sistemas obsoletos, porém fazer ou entrar para a história como alguém que
      sabe o que faz e faz muito bem! Benefício de um código limpo Escrever de
      forma mais limpa te ajuda a conseguir um bom emprego. Grande parte das
      corporações, startups contratam os seus programadores olhando o github de
      cada um. Além de saber as contribuições do dev, eles analisam como o dev
      programa, quais práticas utiliza. Afinal, ninguém vai querer contratar um
      “Luiz espalha lixo” em sua empresa. Grandes e pequenas empresas já
      refizeram seus sistemas diversas vezes. Há sistemas com 2 anos de vida que
      são refeitos e sistemas com 10 anos que estão firmes e fortes. Qual o
      motivo? A organização e a clareza no software. Vida longa ao seu software!
      Acredite ou não, há empresas que chegam à falência, pois tem um código tão
      ruim que os desenvolvedores não conseguem mais avançar, pois se mexer
      aqui, gera uma confusão ali. No final não é mais possível dar manutenção
      naquele código. No início tudo são flores, o importante é estar
      funcionando. Só que novas features vão surgindo juntamente com os bugs. É
      como uma bola de neve que vai só crescendo até fazer um grande estrago.
      Conclusão Como falei no início, não sou experiente no assunto e não tenho
      moral para falar de código limpo. Quer uma prova disso, é só acessar o
      link do meu github. Você vai ver que tem muitos projetos lá que são bem
      “sujinhos”. No entanto, estou a cada dia tentando melhorar e ter boas
      práticas. Pode confirmar isso também acessando meu github e olhando meus
      últimos projetos. Então é isso galera! Mas aqui foi apenas uma introdução.
      O primeiro artigo de uma série sobre código limpo. Vai ter muita coisa boa
      – eu acho. Então, até a próxima.
    </p> -->

    <angular-editor  [(ngModel)]="htmlContent"></angular-editor>

    <app-card-author></app-card-author>
  </article>
</section>
