.card-container {
  cursor: pointer;
  border-radius: 15px;
  background: #222;
  width: 300px;
  height: 350px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  align-items: center;
  justify-content: space-between;
}

.card-container:hover {
  transform: translateY(-5px);
}

.card-header {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 10px 0;
}

.card-header h2 {
  color: #fff;
  letter-spacing: 1.2px;
  width: 100%;
  background: #654ea3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.card-body {
  text-align: center;
  flex: 1;
  color: #fff;
  padding: 0px 10px;
  border-radius: 10px;
}

.card-footer {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: start;
  margin-top: 10px;
  color: #654ea3;
  font-weight: bold;
  letter-spacing: 2px;
}
